body {
    overflow: hidden;
    /* background-color: black; */
    margin: 0px;
    padding: 0px;

    /* if we use a space bg instead of solid black */
    background-image: url("../media/space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.planet-container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planet {
    /* Scale width based on view width, but max width is 150px */
    width: 10vw;
    max-width: 150px;
    height: auto;

    object-fit: contain;

    background-color: transparent;
    /* Reduce clickable area */
    border-radius: 70%;

    /* Effects should be non instant, cursor should be a pointer while hovering */
    cursor: pointer;
    transition: transform 0.2s;
}   

.planet:hover {
    /* Enlarge while hovering */
    transform: scale(1.2);
}

.non-planet {
    /* Scale width based on view width, but max width is 150px */
    width: 10vw;
    max-width: 150px;
    height: auto;

    object-fit: contain;

    background-color: transparent;
    border-radius: 0%;
}

#sun {
    justify-self: flex-start;
}

#mercury {
    width: 2vw;
}

#venus {
    width: 3.5vw;
}

#earth {
    width: 4.0vw;
}

#mars {
    width: 3vw;
}

#jupiter {
    
}

#saturn {
    
}

#uranus {
    width: 5vw;
}

#neptune {
    width: 4.5vw;
}