html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/* Reset default spacing */
main {
    width: 100vw;
    height:100vh;

    font-family: "Poppins", Times, serif;
    font-weight: 400;
    font-size: 16px;

    background-image: url("../media/space_planet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    display: grid;
    grid-template-areas: 
        "back   title    title    ."
        ".      planet   planet   data"
        ".      planet   planet   data"
        "facts  .        .        .";
    grid-template-columns: 1.5fr 2fr 2fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

hr {
    border: none;
    background-color: black;
    height: 1px;
}

.data-container {
    grid-area: data;

    background-color: rgb(192, 225, 255);
    padding: 2vw;

    min-width: 20vw;
    max-height: 30vw;
    min-height: 25vw;

    border-radius: 45px;
    border: 7px solid white;
    margin: 2vw;
    
}

.back-arrow {
    display: inline-block;  /* ensures only the icon itself is clickable */
    grid-area: back;
    margin: 15px;

    
    font-size: 3rem;

    justify-self: start;
    cursor: pointer;
}

.title {
    grid-area: title;
    justify-self: center;
    align-self: center;

    color: white;
    font-size: 4rem;
}

.planet-container {
    grid-area: planet;
    /* Fill div */
    width: 100%;
    height: 100%;

    /* background-color: #ccc; */
}

.facts-container {
    grid-area: facts;

    background-color: grey;
}

.orbitron-500 {
    font-family: "Orbitron", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 500;
    font-style: normal;
    font-size: 16;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.font-medium {
    font-size: 30;
}